h1 {
  /* font-size: 1.8em; */
  color: red;
  z-index: 1;
  transition: 0.5s;
}

h2 {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 2em;
  color: rgb(255, 255, 255);
  z-index: -1000;
}

h3 {
  /* font-size: 1.8em; */
  color: rgb(0, 0, 0);
  z-index: 1;
  transition: 0.5s;
}

p {
  /* font-size: 16px; */
  font-weight: 300;
  color: rgb(0, 0, 0);
  z-index: 1;
  transition: 0.5s;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
  background: #000;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.Content {
  padding: 20px;
  text-align: center;
}

img {
  border-radius: 50%;
}
